<footer class="footer">

    <div class="container-fluid">

      <div class="row me-row content-ct">
        <div class="col-md-6">
          <p>Copyright &copy; 2009-{{ site.time | date: '%Y' }} Alexej Hirsch</p>
        </div>
        <div class="col-md-6">
          <a href="{{ site.baseurl }}/imprint" data-i18n="Imprint">Imprint</a>
        </div>
      </div>

      <p><a href="#" onclick="setLocale('de-DE')">Deutsch</a> | <a href="#" onclick="setLocale('en-US')">English</a></p>
      
  </div>

</footer>