<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script src="{{ site.baseurl }}/jquery.i18n/CLDRPluralRuleParser.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.messagestore.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.fallbacks.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.language.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.parser.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.emitter.js"></script>
    <script src="{{ site.baseurl }}/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
    
    <script>

      $.i18n().locale = 'de';

      $.i18n().load('{{ site.baseurl }}/jquery.i18n/languages/' + $.i18n().locale + '.json', $.i18n().locale);

    </script>
    
</head>