<div class="wrapper">

    <div class="container-fluid header">
        <div class="container">
        
            <select id="languageSelect" class="languageselect pull-right" onchange="setLocale(this.value)">
                <option value="en-US" data-content="<span class='ti-world'/> English" />
                <option value="de-DE" data-content="<span class='ti-world'/> German" />
            </select>

        </div>
    </div>

</div> 

<script>

    document.getElementById('languageSelect').value = $.i18n().locale;

 </script>
