<div class="wrapper">

    <div class="container-fluid header">
        <div class="container">
        
            <select id="languageSelect" class="languageselect pull-right" onchange="setLocale(this.value)">
                <option value="en-US">&#xe665; English</option>
                <option value="de-DE">&#xe665; Deutsch</option>
            </select>

        </div>
    </div>

</div> 

<script>

    document.getElementById('languageSelect').value = $.i18n().locale;

 </script>
