<div class="wrapper">

    <div class="container-fluid header">
        <div class="container">
        
            <select id="languageSelect" class="languageselect float-right" onchange="setLocale(this.value)">
                <option value="en-US"><span class="ti-world"></span> English</option>
                <option values="de-DE"><span class="ti-world"></span> German</option>
            </select>

        </div>
    </div>

</div> 

<script>
	    
    const allLocales = new Set(['de-DE', 'en-US'])
    
    var locale = getCookie('locale');
     
    if (locale !== '') { 
     $.i18n().locale = locale;
    }
     
    if (!allLocales.has($.i18n().locale)) {
     $.i18n().locale = 'en-US';
    }

    document.getElementById('languageselect').value = $.i18n().locale;

    $.i18n().load('{{ site.baseurl }}/jquery.i18n/languages/' + $.i18n().locale + '.json', $.i18n().locale).done(
       function () {
           $('body').i18n(); 
       } );

     function setLocale(locale) {
       setCookie('locale', locale, 30);
       location.reload();
     }

     function setCookie(name, value, daysToLive) {
       document.cookie = name + "=" + encodeURIComponent(value) + "; max-age=" + (daysToLive*24*60*60) + "; path=/";
     }

     function getCookie(name) {
       var cookieArr = document.cookie.split(";");
       for(var i = 0; i < cookieArr.length; i++) {
           var cookiePair = cookieArr[i].split("=");
           if(name == cookiePair[0].trim()) {
               return decodeURIComponent(cookiePair[1]);
           }
       }
       return null;
    }
    
 </script>
