body {
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 18px;
    letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none !important;
}