body {
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 18px;
    letter-spacing: 0.8px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Buttons override */
.btn {
    text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
    padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
    background-color: #dd5138;
    color: #fff;
}
.btn-green {
  background-color: #5cb85c;
  color: #fff;
}
.btn-yellow {
	background-color: #fcd93b;
	color: #2a2a2a;
	opacity: 0.8;
}
.btn-yellow:hover {
    opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
    text-align: center;
}
.header {
  background: #016cc7;
  padding: 0.5em;
  color: #fff;
}
.header .logo {
  max-height: 3em;
}

.hero-header {
    background: #016cc7;
    min-height: 300px;
    padding: 5em;
    color: #fff;
}
.hero-header h1 {
    margin: 1em 0 0 0;
}
.hero-header h4 {
    font-weight: normal;
    opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
    max-width: 100%
}
.hero-header .btn {
    margin-top: 3em;
}
.hero-header .rocket {
    max-width: 100%;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}
.me-row {
    padding: 30px 0;
}
.row-title {
    font-weight: 400;
}
.feature span {
    font-size: 5em;
    color: #016cc7;
}
.feature {
    padding: 20px;
    margin-top: 30px;
}

.whatnext {
    background-color: yellowgreen;
}
.footer {
    background-color: #2a2a2a;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}
.price {
    font-size: 3em;
    font-weight: 100;
}
.price_discount {
    font-size: 1.5em;
    font-weight: 400;
    background-color: #00A600;
    color: White;
    text-align: center;
    vertical-align: middle;
    padding:0.1em;
}
.price_small {
    font-size: 2em;
    font-weight: 100;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}
