<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="d-flex flex-column min-vh-100">

    <header class="site-header">

      <div class="wrapper">
    
        <div class="container-fluid header">
          <div class="container">
            
            <a href="/"><img src="/assets/logo.svg" class="logo" alt="..."/></a>
            
            <div class="float-end">
              <span class="ti-world"></span>
              <select id="languageSelect" class="languageselect" onchange="setLocale(this.value)">
                  <option value="en-US">English</option>
                  <option value="de-DE">Deutsch</option>
                  <option value="ru-RU">Русский</option>
                  <option value="it-IT">Italiano</option>
                  <option value="pt-BR">Portuguesa (Brasileira)</option>
                  <option value="he-IL">עִברִית</option>
              </select>
            </div>
    
            <script>
              document.getElementById('languageSelect').value = $.i18n().locale;
            </script>
    
          </div>
        </div>
    
      </div> 
    
    </header>

    <div class="page-content">
      <div class="wrapper flex-grow-1">

        <div class="container">
          {{ content }}
        </div>

      </div>
    </div>
    
    <br />

    <footer class="mt-auto">

      {% include footer.html %}

    </footer>

  </body>

</html>
